<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="./Summer23TalentLMS">
        <classes>
            <class name="com.digital.AccountSettingTest.AccountSettingsEnter">
                <methods>
                    <include name="BasicSettingsTest"/>
                </methods>
            </class>
            <class name="com.digital.coursesTest.ByCoursePageTest">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="com.digital.userCategoryTest.CreateUserTest">
                <methods>
                    <include name="userAddTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>