<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Summer23TalentLMS">
        <classes>
            <class name="com.digital.SauceLabs">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="com.digital.accountSettingTest.AccountHomePageTest">
                <methods>
                    <include name="openHomePageTest"/>
                    <include name="maximizeVideoWindowTest"/>
                    <include name="clickPlayBtn"/>
                </methods>
            </class>
            <class name="com.digital.accountSettingTest.CertificatesTest">
                <methods>
                    <include name="CertificatesList"/>
                </methods>
            </class>
            <class name="com.digital.accountSettingTest.EcommercePageTest">
                <methods>
                    <include name="openOption"/>
                    <include name="timeLine"/>
                </methods>
            </class>
            <class name="com.digital.accountSettingTest.TalentLMSBetaTest">
                <methods>
                    <include name="talentLMS"/>
                </methods>
            </class>
            <class name="com.digital.coursesTest.ByCoursePageTest">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="com.digital.coursesTest.CategoriesTest">
                <methods>
                    <include name="testCategories"/>
                </methods>
            </class>
            <class name="com.digital.coursesTest.InvalidTestAddCoursePage">
                <methods>
                    <include name="invalidAllTest"/>
                    <include name="NameLengthInvalidTest"/>
                    <include name="descriptionInvalidTest"/>
                    <include name="priceInvalidTest"/>
                    <include name="priceInvalidTestMinus"/>
                    <include name="codeInvalidTest"/>
                    <include name="capacityInvalidTest"/>
                    <include name="capacityInvalidSymbolTest"/>
                    <include name="capacityInvalidMinusTest"/>
                </methods>
            </class>
            <class name="com.digital.coursesTest.ValidTestAddCoursesPage">
                <methods>
                    <include name="allMethodsValid"/>
                    <include name="nameIntValidTest"/>
                    <include name="nameSymbolValidTest"/>
                </methods>
            </class>
            <class name="com.digital.userCategoryTest.CheckDropMenuTest">
                <methods>
                    <include name="checkDropMenu"/>
                    <include name="checkMassAction"/>
                    <include name="CheckFilterIcon"/>
                </methods>
            </class>
            <class name="com.digital.userCategoryTest.CreateUserTest">
                <methods>
                    <include name="userAddTest"/>
                    <include name="checkForAddingUserToTable"/>
                    <include name="checkActiveInputIsSelected"/>
                    <include name="checkExludeFromEmailInputIsSelected"/>
                    <include name="checkDisplayedDeactiveInput"/>
                    <include name="checkEmptyFieldValidation"/>
                    <include name="checkInputsCharactersLimit"/>
                </methods>
            </class>
            <class name="com.digital.userCategoryTest.EditUserTest">
                <methods>
                    <include name="editAndAssertUserInfo"/>
                </methods>
            </class>
            <class name="com.digital.userCategoryTest.FilesPageTest">
                <methods>
                    <include name="checkFilesTableOptions"/>
                    <include name="checkToUploadFile"/>
                    <include name="checkEditFileInput"/>
                </methods>
            </class>
            <class name="com.digital.userCategoryTest.UserBranchTest">
                <methods>
                    <include name="testBranchPage"/>
                    <include name="testAssertBranch"/>
                </methods>
            </class>
            <class name="com.digital.userCategoryTest.UserCoursesTest">
                <methods>
                    <include name="userCoursePage1"/>
                    <include name="checkTabsInCoursesPage"/>
                </methods>
            </class>
            <class name="com.digital.userCategoryTest.UserGroupTest">
                <methods>
                    <include name="testGroupPage"/>
                    <include name="testAssertGroup"/>
                </methods>
            </class>
            <class name="com.digital.userCategoryTest.UserTableTest">
                <methods>
                    <include name="checkOpenModal"/>
                    <include name="checkTextInModal"/>
                    <include name="checkForDeleteUserToTable"/>
                    <include name="testSortUserEmailAfterClickToEmailTab"/>
                    <include name="testUserTypeSorting"/>
                    <include name="checkTable"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>